/* given class to use */
body {
    /* formatting for text */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.note{
    /* padding for note to 0 */
    padding: 0px
}

/* given class to use modified */
textarea{
    /* background transparent so it can be changed with code */
    background: transparent;
    /* remove border so the text can only be padded */
    border: none;
    /* remove ability to resize doc */
    resize: none;
    /* text color of the text area to be black */
    color: #000000;
    /* add a divider line to the left */
    border-left: 1px solid #000000;
    /* padding around whole textarea to be 10px */
    padding: 10px;
    /* stretch the width and height to fill the space */
    width: 100%;
    height: 100%;
    /* set position relative to be able to move the textarea central into the div */
    position: relative;
    bottom: 40%;
}

.col-10, .col-1{
    /* locks height of the cols */
    height: 80px;
}

/* given class to use */
.jumbotron {
    /* aligns text to center */
    text-align: center;
    /* background transparent */
    background-color: transparent;
    /* text color black */
    color: #000000;
    /* no border radius */
    border-radius: 0;
    /* solid black line at bottom of div */
    border-bottom: 10px solid #000000;
}


.hour, .note, .save-btn-div{
    /* divides the different rows (doesnt work if sets in rows */
    border-bottom: 1px solid #ffffff;
}

/* given class to use */
.row {
    /* sets white space to pre wrap and the height to 80px */
    white-space: pre-wrap;
    height: 80px;

    /* doesnt work but left in for ease of checking */
    /* border-top: 1px solid #ffffff; */
    /* border-bottom: 1px solid white; */
}

/* given class to use */
.hour {
    /* sets bg-color to white */
    background-color: #ffffff;
    /* sets text color to black */
    color: #000000;
    /* sets top border to a dashed black line */
    border-top: 1px dashed #000000;
    /* aligns text to the right */
    text-align: right;
    /* with a padding of 10px */
    padding: 10px;
}

/* given class to use */
.past {
    /* sets background */
    background-color: #d3d3d3;
    /* sets text but doesnt do anything to the text area and appears to do nothing in the example gif */
    /* color: #ffffff; */
}

/* given class to use */
.present {
    /* sets background */
    background-color: #ff6961;
    /* sets text but doesnt do anything to the text area and appears to do nothing in the example gif */
    color: #ffffff;
}

/* given class to use */
.future {
    /* sets background */
    background-color: #77dd77;
    /* sets text but doesnt do anything to the text area and appears to do nothing in the example gif */
    color: #ffffff;
}
.save-btn-div{
    /* removes padding for the btn */
    padding: 0px;
    
}

/* given class to use modified*/
.saveBtn {
    /* sets border left to black */
    border-left: 1px solid #000000;
    /* sets the top right and bottom right radi to 15px */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* sets bg-color for btn to an aqua blue */
    background-color: #06AED5;
    /* sets text color to white */
    color: #ffffff;
    /* sets btn to take up 100% of div */
    width: 100%;
    height: 100%;
    /* set position relative to be able to move the textarea central into the div */
    position: relative;
    bottom: 40%;
}

/* given class to use modified */
.saveBtn:hover {
    /* set text size to 20px */
    font-size: 20px;
    /* when hover over increase over .3s */
    transition: all .3s ease-in-out;
    /* makes text color black */
    color: #000000;
}
